.services-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    margin: 100px 0;
}
.services-title{
    margin-top: 100px;
}

@media only screen and (max-width:1200px) {
    .services-container {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (max-width:992px) {
    .services-title {
        margin-top: 200px;
    }
}

@media only screen and (max-width:768px) {
    .services-container {
        grid-template-columns: repeat(1, 1fr);
        margin: 20px 0;
    }
}